<div class="end-survey">
  {{#endContent}}

    {{#isText}}
      <div class="end-text">
        <p>{{value}}</p>
      </div>
    {{/isText}}

    {{#isButton}}
      <div class="end-buttons">
        <a href="{{href}}" class="btn {{class}}">
          {{label}}
        </a>
      </div>
    {{/isButton}}

    {{#isHtml}}
      <div class="extra-html">
        {{{value}}}
      </div>
    {{/isHtml}}

  {{/endContent}}
</div>
