<div class="end-survey">
  {{#endContent}}
    {{#isText}}
      <p>{{value}}</p>
    {{/isText}}

    {{#isButton}}
      <p>
        <a href="{{href}}" class="{{class}}">
          {{label}}
        </a>
      </p>
    {{/isButton}}

    {{#isHtml}}
      {{{value}}}
    {{/isHtml}}
  {{/endContent}}
</div>
