<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{step.title}}</title>
  {{#survey.logo}}
  <link rel="icon" type="image/png" href="{{survey.logo}}">
{{/survey.logo}}
  <link rel="stylesheet" href="/assets/css/app.css">
  <link rel="stylesheet" href="/assets/css/questions/accordion.css">
  <link rel="stylesheet" href="/assets/css/questions/autocomplete.css">
  <link rel="stylesheet" href="/assets/css/questions/grid.css">
  <link rel="stylesheet" href="/assets/css/questions/multiple_choice.css">
  <link rel="stylesheet" href="/assets/css/questions/single_choice.css">
  <link rel="stylesheet" href="/assets/css/questions/spinner.css">
  <link rel="stylesheet" href="/assets/css/questions/text.css">

  <link rel="stylesheet" href="/assets/css/partials/accQuestion.css">
<body>
  {{> partials/header }}
<main class="survey " 
data-step-id="{{step.id}}"
 data-step-type="{{step.type}}">

  {{{content}}}
</main>
<script type="module" src="/assets/js/app.js"></script>
<script type="module" src="/assets/js/questions/single_choice.js"></script>
<script type="module" src="/assets/js/questions/multiple_choice.js"></script>
<script type="module" src="/assets/js/questions/accordion.js"></script>
<script type="module" src="/assets/js/questions/autocomplete.js"></script>

</body>

</html>
