
  <div class="accordion-question">
    {{#sections}}
     <div class="accordion-section" data-index="{{@index}}">
        <div class="accordion-header">
          {{title}}
        </div>

        <div class="accordion-body">
          {{#questions}}
            {{> partials/accQuestion }}
          {{/questions}}
        </div>
      </div>
    {{/sections}}
  </div>

