<input
  list="autocomplete-list-{{id}}"     
  id="autocomplete-input-{{id}}"    
  name="{{id}}"                         
  placeholder="{{placeholder}}"
  autocomplete="off"
 
  class="autocomplete-input"
    value="{{displayValue}}"
/>
<datalist id="autocomplete-list-{{id}}" class="autocomplete-list">
  {{#options}}
    <option 
      value="{{display}}" 
      data-input="{{inputDisplay}}"
      data-json='{{jsonData}}'
      class="autocomplete-option">
    </option>
  {{/options}}
</datalist>
