<table class="grid-table">
  <thead>
    <tr>
      <th></th>
      {{#reponses}}
        <th>{{label}}</th>
      {{/reponses}}
    </tr>
  </thead>

  <tbody>
    {{#questions}}  
    <tr>
      <td class="row-label">{{label}}</td>

      {{#columns}}  
      <td class="grid-cell">
       {{#enabled}}
        {{#isRadio}}
          <input
            type="radio"
            name="{{name}}"       
            value="{{value}}"
            {{#checked}}checked{{/checked}}
          >
        {{/isRadio}}
         {{/enabled}}
 {{#enabled}}
        {{#isCheckbox}}
          <input
            type="checkbox"
            name="{{name}}"     
            value="{{value}}"
            {{#checked}}checked{{/checked}}
          >
        {{/isCheckbox}}
         {{/enabled}}
      </td>
      {{/columns}}

    </tr>
    {{/questions}}
  </tbody>
</table>
