{{#options}}
  <label>
    <input type="checkbox" 
    name="{{id}}[]" 
    value="{{codeItem}}"
    data-has-sub="{{hasSubQuestions}}"
    {{#isSelected}}checked{{/isSelected}}
    data-requires-precision="{{requiresPrecision}}"
    data-precision-key="{{precisionKey}}"
    data-exclusive="{{exclusive}}">
    {{label}}
  </label>

 {{#requiresPrecision}}
    {{> partials/precision }}
  {{/requiresPrecision}}

  {{#hasSubQuestions}}
   <div class="sub-questions"
    data-parent="{{codeItem}}"
    style="{{^showSubQuestions}}display:none;{{/showSubQuestions}}">
  
  {{#subQuestions}}
    {{> partials/accQuestion}}
  {{/subQuestions}}

</div>
{{/hasSubQuestions}}

{{/options}}