
{{#options}}
  <label>
    <input type="radio" name="{{id}}" value="{{codeItem}}" 
           data-requires-precision="{{requiresPrecision}}"
            data-precision-key="{{precisionKey}}"
           {{#isSelected}}checked{{/isSelected}}>
    {{label}}
  </label><br>
  {{#hasSubQuestions}}
<div class="sub-questions" data-parent="{{codeItem}}" 
style="{{^showSubQuestions}}display:none;{{/showSubQuestions}}">
  
  {{#subQuestions}}
    {{> partials/accQuestion}}
  {{/subQuestions}}
</div>
{{/hasSubQuestions}}

    {{#requiresPrecision}}
    {{> partials/precision }}
  {{/requiresPrecision}}

{{/options}}

