.autocomplete-input {
  width: 100%;
  padding: var(--padding-base);
  font-size: var(--font-size-base);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  transition: all var(--transition-fast);
}

.autocomplete-input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 8px rgba(79, 70, 229, 0.3);
}

.autocomplete-list .autocomplete-option:hover {
  background-color: #f0f4ff;
}



/* Placeholder */
.autocomplete-input::placeholder {
  color: #a1a1aa;
  font-style: italic;
}

/* Datalist options (limité selon navigateur) */
.autocomplete-list .autocomplete-option {
  padding: 8px 10px;
  font-size: 0.95rem;
  cursor: pointer;
}



/* Responsive */
@media (max-width: 768px) {
  .autocomplete-input {
    font-size: 0.95rem;
    padding: 8px 10px;
  }
}
