<input
  type="text"
  class="precision-input"
  data-precision-for="{{precisionKey}}"
  name="precision_{{precisionKey}}"
  value="{{precisionValue}}"
  placeholder="Précisez..."
  style="{{^showPrecision}}display:none;{{/showPrecision}}"
/>
